basic.png
both.png
improved.txt
basic.txt
improved.png
__pycache__/basicAgent.cpython-38.pyc
__pycache__/betterImprovAgent.cpython-38.pyc
__pycache__/dataCollector.cpython-38.pyc
__pycache__/improvAgent.cpython-38.pyc
